mat-toolbar{
    padding: 3em;
    position: sticky;
    top: 0;
}

mat-nav-list{
    display: flex;
    color: white;
}

mat-nav-list a{
    color:white;
    font-size: 1em;
    margin-right: 1em;
}

.logoDiv{
    /* Vertically centers Title */
    align-items: center;
    display: flex;
}

mat-icon{
    padding-right: 0.5em;
}

.spacer{
   flex: 1 1 auto;
}

nav a{
    padding-right: 2em;
}