<mat-toolbar color="primary">
    <div class="footer">
        <div class="footer-section">
            <span>S3 Manouevre Selector BABY</span>
        </div>

        <div class="footer-section">
            <h2>Contact</h2>
            <p>Please direct enquiries to cailean.twc@btinternet.com</p>
        </div>

        <div class="footer-section">
            <h2>Report an Issue</h2>
            <p>Please report issues to cailean.twc@btinternet.com</p>
        </div>
    </div>
</mat-toolbar>
